@font-face {font-family: Merriweather-bold;
            src: url('./fonts/Merriweather/Merriweather-Bold.ttf')}

body{
    display: flex;
    flex-direction: row;
}

.title-page {
    width: 40rem;
    height: 70rem;
    background: no-repeat center url(./images/laptop-screen-opening.jpg);
    background-size: cover;
}