@font-face {font-family: Merriweather-bold;
            src: url('./fonts/Merriweather/Merriweather-Bold.ttf')}

body{
    display: flex;
    margin: 0;
}

.title-page {
    width: 40vw;
    height: 100vh;
    background: no-repeat center url(./images/laptop-screen-opening.jpg);
    background-size: cover;
}

.author-credit{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 60vw;
    height: 100vh;
}